In [45]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [46]:
# loading the diabetes dataset to a pandas DataFrame
df = pd.read_csv('Diabetes22.csv')

In [47]:
df.head()

,Patient number,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes,Unnamed: 16,Unnamed: 17
0,1,193,77,49,3.9,19,female,61,119,22.5,118,70,32,38,0.84,No diabetes,6.0,6.0
1,2,146,79,41,3.6,19,female,60,135,26.4,108,58,33,40,0.83,No diabetes,NaN,NaN
2,3,217,75,54,4.0,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes,NaN,NaN
3,4,226,97,70,3.2,20,female,64,114,19.6,122,64,31,39,0.79,No diabetes,NaN,NaN
4,5,164,91,67,2.4,20,female,70,141,20.2,122,86,32,39,0.82,No diabetes,NaN,NaN

In [48]:
df1 =df.drop(df.columns[[0 ,4, 12,13,14,16,17]] , axis=1)

In [49]:
df1.tail(40)

,Cholesterol,Glucose,HDL Chol,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,Diabetes
350,242,74,55,70,female,66,200,32.3,140,65,No diabetes
351,186,97,50,70,male,67,178,27.9,148,88,No diabetes
352,182,206,43,70,male,69,214,31.6,158,90,Diabetes
353,289,111,50,70,female,60,220,43.0,126,80,Diabetes
354,231,70,110,71,female,63,155,27.5,150,78,No diabetes
355,199,85,59,71,male,69,171,25.2,136,86,No diabetes
356,228,115,61,71,female,63,244,43.2,170,92,No diabetes
357,213,203,75,71,female,63,165,29.2,150,80,Diabetes
358,204,120,44,72,male,65,167,27.8,140,72,No diabetes
359,205,83,42,72,female,61,180,34.0,170,90,No diabetes
360,213,76,40,72,female,59,137,27.7,130,60,No diabetes
361,207,71,41,72,male,70,180,25.8,138,88,Diabetes
362,235,106,37,73,male,65,183,30.4,134,78,No diabetes
363,237,118,45,73,female,64,174,29.9,162,75,Diabetes
364,306,92,56,74,male,69,184,27.2,140,72,No diabetes
365,223,88,42,74,female,62,165,30.2,250,100,No diabetes
366,296,262,60,74,female,63,183,32.4,159,99,Diabetes
367,205,79,32,75,male,69,204,30.1,136,90,No diabetes
368,254,342,37,75,male,68,210,31.9,151,87,Diabetes
369,159,100,54,76,male,66,188,30.3,116,53,No diabetes
370,196,82,58,76,male,65,154,25.6,158,78,No diabetes
371,173,131,69,76,female,61,102,19.3,160,60,No diabetes
372,219,112,73,76,male,64,105,18.0,125,82,No diabetes
373,209,113,65,76,female,60,143,27.9,156,78,Diabetes
374,215,80,100,78,male,65,109,18.1,170,88,No diabetes
375,210,81,81,78,male,66,145,23.4,110,70,No diabetes
376,224,98,44,78,female,63,160,28.3,150,81,No diabetes
377,195,171,29,78,male,66,172,27.8,130,82,No diabetes
378,235,91,37,79,female,65,134,22.3,142,70,No diabetes
379,292,235,55,79,male,70,165,23.7,170,90,Diabetes
380,157,92,47,80,male,71,212,29.6,156,88,No diabetes
381,252,161,87,80,female,62,162,29.6,160,100,Diabetes
382,271,121,40,81,female,64,158,27.1,146,76,No diabetes
383,240,88,49,82,female,63,170,30.1,180,86,No diabetes
384,255,112,34,82,male,66,163,26.3,179,89,No diabetes
385,227,105,44,83,female,59,125,25.2,150,90,No diabetes
386,226,279,52,84,female,60,192,37.5,144,88,Diabetes
387,301,90,118,89,female,61,115,21.7,218,90,No diabetes
388,232,184,114,91,female,61,127,24.0,170,82,Diabetes
389,165,94,69,92,female,62,217,39.7,160,82,No diabetes

In [50]:
from sklearn import preprocessing
# import pandas as pd

le = preprocessing.LabelEncoder()
df1['Diabetes'] = le.fit_transform(df1['Diabetes'])

In [51]:
df1['Gender'] = le.fit_transform(df1['Gender'])

In [52]:
df1

,Cholesterol,Glucose,HDL Chol,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,Diabetes
0,193,77,49,19,0,61,119,22.5,118,70,1
1,146,79,41,19,0,60,135,26.4,108,58,1
2,217,75,54,20,0,67,187,29.3,110,72,1
3,226,97,70,20,0,64,114,19.6,122,64,1
4,164,91,67,20,0,70,141,20.2,122,86,1
...,...,...,...,...,...,...,...,...,...,...,...
385,227,105,44,83,0,59,125,25.2,150,90,1
386,226,279,52,84,0,60,192,37.5,144,88,0
387,301,90,118,89,0,61,115,21.7,218,90,1
388,232,184,114,91,0,61,127,24.0,170,82,0
389,165,94,69,92,0,62,217,39.7,160,82,1

In [53]:
df1.columns= df1.columns.str.replace(' ' ,'_')

In [54]:
df1

,Cholesterol,Glucose,HDL_Chol,Age,Gender,Height,Weight,BMI,Systolic_BP,Diastolic_BP,Diabetes
0,193,77,49,19,0,61,119,22.5,118,70,1
1,146,79,41,19,0,60,135,26.4,108,58,1
2,217,75,54,20,0,67,187,29.3,110,72,1
3,226,97,70,20,0,64,114,19.6,122,64,1
4,164,91,67,20,0,70,141,20.2,122,86,1
...,...,...,...,...,...,...,...,...,...,...,...
385,227,105,44,83,0,59,125,25.2,150,90,1
386,226,279,52,84,0,60,192,37.5,144,88,0
387,301,90,118,89,0,61,115,21.7,218,90,1
388,232,184,114,91,0,61,127,24.0,170,82,0
389,165,94,69,92,0,62,217,39.7,160,82,1

no diabetes--1
diabetes -- 0

female-->0
male-->1

In [55]:
# separating the data and labels
X = df1.drop(columns = 'Diabetes', axis=1)
Y = df1['Diabetes']

In [56]:
print (Y)

0      1
1      1
2      1
3      1
4      1
      ..
385    1
386    0
387    1
388    0
389    1
Name: Diabetes, Length: 390, dtype: int64

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2,random_state=0)

In [58]:
print(X.shape, X_train.shape, X_test.shape)

(390, 10) (312, 10) (78, 10)

In [59]:
classifier = svm.SVC(kernel='linear')

#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [60]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9230769230769231

In [61]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9358974358974359

In [62]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
report = classification_report(Y_test,X_test_prediction)
print(report)

              precision    recall  f1-score   support

           0       0.91      0.71      0.80        14
           1       0.94      0.98      0.96        64

    accuracy                           0.94        78
   macro avg       0.92      0.85      0.88        78
weighted avg       0.93      0.94      0.93        78

In [63]:

# Cholesterol |	Glucose	|HDL Chol|	Age |	Gender |	Height	|Weight	|BMI	|Systolic BP	|Diastolic BP	|Diabetes

# input_data = (227 , 105,44,83,0,59,125,25.2,150,90)

# input_data = (232,184 ,114,91,0,61,127,24.0 ,170,82) #-->diabetic
# input_data =(252,	161	,87	,80	,0	,62	,162	,29.6,	160	,100	)   #diabetic

input_data = (165,	94,	69,	92,	0,	62,	217,	39.7,	160,	82	) #not
# input_data = (221 , 118,57 ,53,1,60,139 ,27 ,130,90)  #dad

# input_data =   (209 , 137,85,45,0, 57 , 128 ,27.21 , 140 ,90)  #shreya

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is  diabetic')
else:
  print('The person is not diabetic')

[1]
The person is not diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

#Saving the Model

In [64]:
import pickle

# save the model to disk
filename = 'diabetic_model.sav'
pickle.dump(classifier, open(filename, 'wb'))


# loading the saved model
loaded_model = pickle.load(open('diabetic_model.sav', 'rb'))